body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-color: aquamarine; */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 80vw;
    border-radius: 1.5rem;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    gap: 1rem;
    padding: 1.5rem;
    text-align: center;
}

.heading-txt {
    font-size: 1rem;
    color: rgb(185, 185, 185);
}

.question-p {
    font-size: 2rem;
    
}

.options {
    display: inline-block;
    width: 70vw;
    height: 3rem;
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    outline: none;
    border-radius: 20px;
    border: 2px solid #212529;
    background: #212529;
}

.options:hover {
    background: red;
    color: #212529;
}

.options:active {
    position: relative;
    top: 2px;
}


.options-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    /* gap: 1rem; */
}

